<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Message Board</title>
</head>
<body>
    <h1>The Dojo Message Board</h1>
    <form action="/" method="POST">
        <label for="">Name:</label> <br>
        <input type="text" name= "name"> <br>
        <label for="">Message:</label> <br>
        <input type="text" name="message"><br>
        <input type="submit" value="Post message">
    </form>
    <% for (const message of messages){%>
        <h3>Name: <%= message.name %> </h3>
        <h3>Message: <%= message.message %></h3>
        <% for (const comment of message.comments){%>
            <h5>Name: <%=comment.name %> </h5>
            <h5>Comment: <%= comment.comment %></h5>
            <%} %>
        <form action="/comment" method = "POST">
            <label for="">Name:</label> <br>
            <input type="text" name= "name"> <br>
            <label for="">Comment:</label> <br>
            <input type="text" name="comment"><br>
            <input type="submit" value="Post comment">
        </form>    
    <%} %>
</body>
</html>