<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
</head>
<body>
    <fieldset>
        <legend>Welcome to Quoting Dojo</legend>
        <form action="/quotes" method= "post">
            <label for="">Your Name</label>
            <input type="text" name="name"> <br><br>
            <label>Your Quote</label>
            <input type="text" name="quote"><br>
            <button>Add my quotes!</button>
        </form>
        <form action="/quotes" method= "get">
            <button>Skip to quotes!</button>
        </form>
    </fieldset>
</body>
</html>