<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes</title>
</head>
<body>  

    <fieldset>
        <h1>Here are the awesome quotes:</h1>
        <% for ( var quote of quotes) {%>
            <h3>Name: <%= quote.name %></h3>
            <p>Quote: <%= quote.quote %></p>
        <%}
            %>    

    </fieldset>
</body>
</html>